## Ignorar arquivos sensíveis e específicos do Spring Boot
#src/main/resources/application.yml
#src/main/resources/application-*.yml
#
## Ignorar arquivos de build
#/target/
#*.class
#
## Ignorar arquivos do IntelliJ IDEA
#.idea/
#*.iml
#
## Ignorar arquivos de log
#*.log
#
## Ignorar variáveis de ambiente
#.env
#
## Ignorar diretórios do sistema
#.DS_Store
#Thumbs.db
# Spring Boot
/target/
*.class

# Flyway migration history
# (deixe apenas os arquivos .sql versionados)
*.mv.db
*.h2.db

# IDEs
.idea/
*.iml

# Logs
*.log

# Configuração sensível
src/main/resources/application.yml
src/main/resources/application-*.yml
.env

# SO
.DS_Store
Thumbs.db
